@tailwind base;
@tailwind components;
@tailwind utilities;


.AuthTitle {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    /* 67.2px */
}